<script src="/public/js/tablesorts.js"></script>
<script src="/public/js/tablesearch.js"></script>
<script src="/public/js/addmatch.js"></script>
{{#if username}}
    <h1>Report a Match</h1>
    <form class="reportMatch">
        <fieldset class="small">
            <label for="winner">Winner</label>
            <input type="text" name ="winner" id="winner">
        </fieldset>
        <fieldset class="large">
            <label for="winnerPlayed">Winner's Character</label>
            <input type="text" name ="winnerPlayed" id="winnerPlayed">
        </fieldset><br>
        <fieldset class="small">
            <label for="loser">Loser</label>
            <input type="text" name ="loser" id="loser">
        </fieldset>
        <fieldset class="large">
            <label for="loserPlayed">Loser's Character</label>
            <input type="text" name ="loserPlayed" id="loserPlayed">
        </fieldset><br>
        <button class="submitMatch">Submit</button>
    </form>
{{/if}}
<form class="searchForm">
    <label for="search_term">Search Term</label>
    <input type="text" name ="search_term" id="search_term">
    <button class="search">Search</button>
</form>
<button class="clearResults" hidden>Clear Results</button>
<table id = "matchTable">
    <tr class="header">
        <th class="sortButton">Winner</th>
        <th class="sortButton">Loser</th>
        <th class="sortButton">Tournament</th>
        <th>Match Link</th>
    </tr>
    {{#each matches}}
    <tr class="match">
        <td class="Winner">
            <a href="../users/{{this.winner}}">{{this.winner}}</a>
            (<a href="../characters/{{this.winnerPlayed}}">{{this.winnerPlayedDisplay}}</a>)
        </td>
        <td class="Loser">
            <a href="../users/{{this.loser}}">{{this.loser}}</a>
            (<a href="../characters/{{this.loserPlayed}}">{{this.loserPlayedDisplay}}</a>)
        </td>
        <td class="Tournament">
            {{#if this.tourney}}
            <a href="../tournaments/{{this.tourney._id}}">{{this.tourney.name}}</a>
            {{else}}
            <p>N/A</p>
            {{/if}}
        </td>
        <td class="link excludeFromSearch"><a href="../matches/{{this._id}}">link</a></td>
        {{!Add a tournamentplayed field}}
    </tr>    
    {{/each}}
</table>
<label class="noResult" hidden>There are no results, please try again with a different query</label>