<h1>This is the page with the statistics for character with id {{characterid}}</h1>
<br>
<h1>{{character.displayName}}</h1>
<img src={{character.image}}>
<div class="tab">
    <button class="tablinks" onclick="openPage(event, 'stat')">Statistics</button> {{!might neeed to change this later}}
    <button class="tablinks" onclick="openPage(event, 'match')">Matches</button>
</div>

<!-- Tab content -->
<div id="stat" class="tabcontent">
    <h3>Character Statistics</h3>
    <table>
        <th>Wins</th>
        <th>Losses</th>
        <tr>
            <td>{{wins}}</td>
            <td>{{losses}}</td>
        </tr>
    </table>
</div>

<div id="match" class="tabcontent" hidden>
    <h3>Recent Matches</h3>
    <div class="matches">
        <table id="matchTable">
            <th>Winner</th>
            <th>Loser</th>
            {{#each matches}}
            <tr id="charRow">
                <td id="winner">
                    <a href="../users/{{this.winner}}">{{this.winner}}</a>
                    (<a href="./{{this.winnerPlayed}}">{{this.winnerPlayedDisplay}}</a>)
                </td>
                <td id="loser">
                    <a href="../users/{{this.loser}}">{{this.loser}}</a>
                    (<a href="./{{this.loserPlayed}}">{{this.loserPlayedDisplay}}</a>)
                </td>
                {{!Add a tournamentplayed field}}
            </tr>
            {{/each}}
        </table>
    </div>
</div> 
<script> //make this like not complete garbage
function openPage(evt, tab) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tab).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>