<img src="/public/images/{{match.winnerPlayed}}.png" alt="{{match.winnerPlayed}}">
<img class="vs" src="/public/images/vs.png" alt="vs">
<img src="/public/images/{{match.loserPlayed}}.png" alt="{{match.loserPlayed}}">
<h1>{{match.winner}} ({{match.winnerPlayedDisplay}}) defeated {{match.loser}} ({{match.loserPlayedDisplay}})</h1>
<script src="/public/js/comment.js"></script>
{{#if username}}
    <form class="addComment">
        <label for="comment">Comment</label>
        <input type="text" name ="comment" id="comment">
        <button class="submit">Submit</button>
    </form>
{{/if}}
<dl class="matchComments">
{{#each match.comments}}
    <dt><a href="/users/{{this.username}}">{{this.username}}</a></dt>
    <dd>{{this.content}}</dd>
{{/each}}
</dl>