<script src="/public/js/tablesorts.js"></script>
<script src="/public/js/addmatch.js"></script>
<div class="tab">
    <button class="tablinks" onclick="openPage(event, 'standings')">Standings</button> {{!might neeed to change this later}}
    <button class="tablinks" onclick="openPage(event, 'allMatches')">All Matches</button>
    {{#if username}}
        <button class="tablinks" onclick="openPage(event, 'reportMatch')">Report a Match</button>
    {{/if}}
</div>
<div id="standings" class ="tabcontent">
    <h1>Tournament Results</h1>
    <table class="standings">
        <tr>
            <th class="sortButton">Player</th>
            <th class="sortButtonNumeric">Wins</th>
            <th class="sortButtonNumeric">Losses</th>
            <th class="sortButtonNumeric">Winrate</th>
        </tr>
        {{#each users}}
        <tr>
            <td class="Player">
                <a href="../users/{{this.[0]}}">{{this.[0]}}</a>
                {{#each this.[1].[3]}}
                    <img src="../../public/imageheads/{{this.[0]}}.png" alt="{{this.[0]}}">
                {{/each}}
            </td>
            <td class="Wins">{{this.[1].[0]}}</td>
            <td class="Losses">{{this.[1].[1]}}</td>
            <td class="Winrate">{{this.[1].[2]}}%</td>
        </tr>
        {{/each}}
    </table>
</div>
<div id="allMatches" class ="tabcontent" hidden>
    <h1>Tournament Matches</h1>
    <table id = "matchTable">
        <tr class="header">
            <th class="sortButton">Winner</th>
            <th class="sortButton">Loser</th>
            <th>comments</th>
        </tr>
        {{#each matches}}
        <tr class="match">
            <td class="Winner">
                <a href="../users/{{this.winner}}">{{this.winner}}</a>
                (<a href="../characters/{{this.winnerPlayed}}">{{this.winnerPlayedDisplay}}</a>)
            </td>
            <td class="Loser">
                <a href="../users/{{this.loser}}">{{this.loser}}</a>
                (<a href="../characters/{{this.loserPlayed}}">{{this.loserPlayedDisplay}}</a>)
            </td>
            <td class="link excludeFromSearch"><a href="../matches/{{this._id}}">Go To Match</a></td>
        </tr>    
        {{/each}}
    </table>
</div>
{{#if username}}
    <div id="reportMatch" class="tabcontent" hidden>
        <h1>Report a Match</h1>
        <form class="reportMatch">
            <fieldset class="small">
                <label for="winner">Winner</label>
                <input type="text" name ="winner" id="winner">
            </fieldset>
            <fieldset class="large">
                <label for="winnerPlayed">Winner's Character</label>
                <input type="text" name ="winnerPlayed" id="winnerPlayed">
            </fieldset><br>
            <fieldset class="small">
                <label for="loser">Loser</label>
                <input type="text" name ="loser" id="loser">
            </fieldset>
            <fieldset class="large">
                <label for="loserPlayed">Loser's Character</label>
                <input type="text" name ="loserPlayed" id="loserPlayed">
            </fieldset><br>
            <button class="submitMatch">Submit</button>
        </form>
    </div>
{{/if}}
<script> //make this like not complete garbage
function openPage(evt, tab) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tab).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>