<h1>This is the page for the profile of user with id {{userid}}</h1>
<h1>{{user.displayName}}</h1>
<img src={{charImage}}>
<dt>Total Wins</dt>
<dd>{{wins}}</dd>
<dt>Total Losses</dt>
<dd>{{losses}}</dd>
<dt>Rival</dt>
<dd>Users rival is {{rival.displayName}}, they have beat them {{rival.wins}} times and lost to them {{rival.losses}} times</dd>
<a href="/user/characterMatchup/{{user.id}}">
    <button>Character Stats</button>
</a>
<a href="/user/playerMatchup/{{user.id}}">
    <button>Opponent Stats</button>
</a>